@charset "UTF-8";

a, abbr, acronym, address, article, aside, audio, b, big, blockquote, body, button, canvas, caption, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, html, i, iframe, img, input, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, select, small, span, strike, strong, sub, summary, sup, table, tbody, td, textarea, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
}

@media screen and (min-width: 541px) {
   .article_right {
        -webkit-box-flex: 1;
        flex: 1;
        padding-top: 190px;
    }
}

@media screen and (max-width: 540px) {
    [_nghost-ctd-c77] .my_tit, [_nghost-ctd-c77] .my_tit.nobor {
        padding: 6px 0 24px;
        border-bottom: none;
        font-size: 20px;
        line-height: 30px;
        text-align: center;
    }
}

[_nghost-ctd-c77] .my_tit.nobor {
    padding: 0;
    border: 0;
}

[_nghost-ctd-c77] .my_tit {
    position: relative;
    padding-bottom: 10px;
    border-bottom: 4px solid #000;
    font-size: 22px;
    color: #000;
    line-height: 30px;
    font-weight: 500;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

@media screen and (max-width: 540px) {
    .my_tit_dsc[_ngcontent-ctd-c149] {
        margin: 0 20px;
    }
}

.my_tit_dsc[_ngcontent-ctd-c149] {
    font-size: 14px;
    color: #5d5d5d;
    line-height: 24px;
}

form {
    display: block;
    margin-top: 0em;
    unicode-bidi: isolate;
}

fieldset {
    display: block;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    min-inline-size: min-content;
    border-width: 2px;
    border-style: groove;
    border-color: rgb(192, 192, 192);
    border-image: initial;
}

[_nghost-ctd-c77] fieldset {
    padding: 0;
    border: 0;
}

legend {
    display: block;
    padding-inline-start: 2px;
    padding-inline-end: 2px;
    unicode-bidi: isolate;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
}

[_nghost-ctd-c77] .blind, [_nghost-ctd-c77] legend {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 1px;
    font-size: 1px;
    line-height: 100px;
    white-space: nowrap;
}

.tb_lst[_ngcontent-ctd-c149] {
    margin-top: 20px;
    border-top: 4px solid #000;
}

.tb_lst[_ngcontent-ctd-c149] > li[_ngcontent-ctd-c149]:after {
    display: block;
    clear: both;
    content: "";
}

li, ol, ul {
    list-style: none;
}


@media screen and (max-width: 540px) {
    .tb_lst[_ngcontent-ctd-c149] > li[_ngcontent-ctd-c149] {
        display: list-item;
        width: auto;
        padding: 16px 20px;
    }

.tb_lst[_ngcontent-ctd-c149] > li[_ngcontent-ctd-c149] {
    display: table;
    position: relative;
    width: 100%;
    border-bottom: 1px solid #e4e4e4;
}

@media screen and (max-width: 540px) {
    .tb_lst[_ngcontent-ctd-c149] .in_td[_ngcontent-ctd-c149]:after {
        display: block;
        clear: both;
        content: "";
    }
}

li {
    text-align: -webkit-match-parent;
}

@media screen and (max-width: 540px) {
    .tb_lst[_ngcontent-ctd-c149] .in_td[_ngcontent-ctd-c149]:first-child {
        width: auto;
        border: 0;
    }
}

.tb_lst[_ngcontent-ctd-c149] .in_td[_ngcontent-ctd-c149]:first-child {
    width: 120px;
    padding: 0;
    border-right: 1px solid #e4e4e4;
    vertical-align: top;
}

@media screen and (max-width: 540px) {
    .tb_lst[_ngcontent-ctd-c149] .in_td[_ngcontent-ctd-c149] {
        display: block;
        height: auto;
        padding: 0;
    }
}

.tb_lst[_ngcontent-ctd-c149] .in_td[_ngcontent-ctd-c149] {
    display: table-cell;
    height: 62px;
    padding: 10px 0 10px 20px;
    box-sizing: border-box;
    font-size: 14px;
    vertical-align: middle;
}

strong {
    font-weight: bold;
}

@media screen and (max-width: 540px) {
    .tb_lst[_ngcontent-ctd-c149] .type[_ngcontent-ctd-c149] {
        margin-bottom: 10px;
        font-size: 16px;
        line-height: 25px;
    }
}

.tb_lst[_ngcontent-ctd-c149] .type[_ngcontent-ctd-c149] {
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    color: #303033;
    line-height: 60px;
}



@media screen and (max-width: 540px) {

.tb_lst[_ngcontent-ctd-c149] uio-radio[_ngcontent-ctd-c149] {
        margin: 5px 10px 15px 0;
    }
}

.tb_lst[_ngcontent-ctd-c149] uio-radio[_ngcontent-ctd-c149] {
    display: inline-block;
    min-width: 100px;
    margin: 5px 20px 0 0;
    font-size: 12px;
}

span[_ngcontent-ctd-c86] {
    display: inline-block;
    overflow: hidden;
    position: relative;
    min-height: 20px;
    line-height: 20px;
    vertical-align: top;
}

input[type="radio" i] {
    background-color: initial;
    cursor: default;
    appearance: auto;
    box-sizing: border-box;
    margin: 3px 3px 0px 5px;
    padding: initial;
    border: initial;
}

input {
/*     font-style: ;
    font-variant-ligatures: ;
    font-variant-caps: ;
    font-variant-numeric: ;
    font-variant-east-asian: ;
    font-variant-alternates: ;
    font-variant-position: ;
    font-weight: ;
    font-stretch: ;
    font-size: ;
    font-family: ;
    font-optical-sizing: ;
    font-kerning: ;
    font-feature-settings: ;
    font-variation-settings: ; */
    text-rendering: auto;
    color: fieldtext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    background-color: field;
    margin: 0em;
    padding: 1px 0px;
    border-width: 2px;
    border-style: inset;
    border-color: light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
    padding-block: 1px;
    padding-inline: 2px;
}

input[_ngcontent-ctd-c86] {
    position: absolute;
    top: -100%;
    left: -100%;
    z-index: -10;
    width: 13px;
    height: 13px;
    background: transparent;
}

[_nghost-ctd-c77] input, [_nghost-ctd-c77] textarea {
    border: 0;
    border-radius: 0;
    background: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

label[_ngcontent-ctd-c86]:after {
    top: 1px;
    left: 1px;
    width: 18px;
    height: 18px;
    border: 5px solid #fff;
    border-radius: 50%;
    background: #f4f4f4;
}

label[_ngcontent-ctd-c86]:before {
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #d4d4d4;
}

label[_ngcontent-ctd-c86] {
    display: inline-block;
    position: relative;
    z-index: 1;
    padding-left: 27px;
    line-height: 20px;
    color: #303033;
    box-sizing: border-box;
    cursor: pointer;
    vertical-align: top;
}

label {
    cursor: default;
}

label[_ngcontent-ctd-c86]:after, label[_ngcontent-ctd-c86]:before {
    position: absolute;
    z-index: 10;
    box-sizing: border-box;
    content: "";
}



@media screen and (max-width: 540px) {
    .tb_lst[_ngcontent-ctd-c149] .user[_ngcontent-ctd-c149], .tb_lst[_ngcontent-ctd-c149] .user_email[_ngcontent-ctd-c149], .tb_lst[_ngcontent-ctd-c149] .user_id[_ngcontent-ctd-c149] {
        display: table;
        width: 100%;
        padding: 0 20px;
        border: 0;
        box-sizing: border-box;
    }
}

@media screen and (max-width: 540px) {
    .tb_lst[_ngcontent-ctd-c149] .user[_ngcontent-ctd-c149] {
        margin-top: 14px;
    }
}

@media screen and (max-width: 540px) {
    .tb_lst[_ngcontent-ctd-c149] .user[_ngcontent-ctd-c149] .in_td[_ngcontent-ctd-c149]:first-child, .tb_lst[_ngcontent-ctd-c149] .user_email[_ngcontent-ctd-c149] .in_td[_ngcontent-ctd-c149]:first-child, .tb_lst[_ngcontent-ctd-c149] .user_id[_ngcontent-ctd-c149] .in_td[_ngcontent-ctd-c149]:first-child {
        width: 55px;
    }
}

@media screen and (max-width: 540px) {
    .tb_lst[_ngcontent-ctd-c149] .user[_ngcontent-ctd-c149] .in_td[_ngcontent-ctd-c149], .tb_lst[_ngcontent-ctd-c149] .user_email[_ngcontent-ctd-c149] .in_td[_ngcontent-ctd-c149], .tb_lst[_ngcontent-ctd-c149] .user_id[_ngcontent-ctd-c149] .in_td[_ngcontent-ctd-c149] {
        display: table-cell;
        height: 50px;
        vertical-align: middle;
    }
}

@media screen and (max-width: 540px) {
    .tb_lst[_ngcontent-ctd-c149] .order_no[_ngcontent-ctd-c149] .in_td[_ngcontent-ctd-c149] .type[_ngcontent-ctd-c149], .tb_lst[_ngcontent-ctd-c149] .user[_ngcontent-ctd-c149] .in_td[_ngcontent-ctd-c149] .type[_ngcontent-ctd-c149], .tb_lst[_ngcontent-ctd-c149] .user_email[_ngcontent-ctd-c149] .in_td[_ngcontent-ctd-c149] .type[_ngcontent-ctd-c149], .tb_lst[_ngcontent-ctd-c149] .user_id[_ngcontent-ctd-c149] .in_td[_ngcontent-ctd-c149] .type[_ngcontent-ctd-c149] {
        margin-bottom: 0;
        font-size: 14px;
    }
}

@media screen and (max-width: 540px) {
    .tb_lst[_ngcontent-ctd-c149] .user_email[_ngcontent-ctd-c149] {
        position: relative;
        padding-bottom: 45px;
    }
}

@media screen and (max-width: 540px) {
    .tb_lst[_ngcontent-ctd-c149] .user_email[_ngcontent-ctd-c149] a[_ngcontent-ctd-c149] {
        position: absolute;
        bottom: 13px;
        left: 55px;
    }
}

.tb_lst[_ngcontent-ctd-c149] .user_email[_ngcontent-ctd-c149] a[_ngcontent-ctd-c149] {
    display: inline-block;
    width: 110px;
    height: 32px;
    margin-left: 20px;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    font-weight: 600;
    font-size: 12px;
    color: #303033;
    text-align: center;
    line-height: 32px;
}


[_nghost-ctd-c77] a, [_nghost-ctd-c77] button {
    outline: none;
}
a, button {
    outline: none;
}
a {
    text-decoration: none;
}

@media screen and (max-width: 540px) {
    .tb_lst[_ngcontent-ctd-c149] .tit_row[_ngcontent-ctd-c149] {
        padding: 6px 20px;
        border-bottom: 0;
    }
}

@media screen and (max-width: 540px) {
    .tb_lst[_ngcontent-ctd-c149] .cnt_row[_ngcontent-ctd-c149] .type[_ngcontent-ctd-c149], .tb_lst[_ngcontent-ctd-c149] .tit_row[_ngcontent-ctd-c149] .type[_ngcontent-ctd-c149] {
        display: none;
    }
}

@media screen and (max-width: 540px) {
    .tb_lst[_ngcontent-ctd-c149] .inpbx[_ngcontent-ctd-c149] {
        width: 100%;
    }
}

.tb_lst[_ngcontent-ctd-c149] .inpbx[_ngcontent-ctd-c149] {
    float: left;
    width: 245px;
    height: 46px;
}

[_nghost-ctd-c77] .inpbx {
    position: relative;
    height: 40px;
    border: 1px solid #d4d4d4;
    background: #fff;
    vertical-align: top;
    box-sizing: border-box;
}

input[type="text" i] {
    padding-block: 1px;
    padding-inline: 2px;
}

input:not([type="file" i], [type="image" i], [type="checkbox" i], [type="radio" i]) {
}

.tb_lst[_ngcontent-ctd-c149] .inpbx[_ngcontent-ctd-c149] input[_ngcontent-ctd-c149], .tb_lst[_ngcontent-ctd-c149] .inptxtbx[_ngcontent-ctd-c149] textarea[_ngcontent-ctd-c149] {
    padding: 0 18px;
    font-size: 14px;
    font-weight: 600;
    color: #303033;
    line-height: 20px;
}

[_nghost-ctd-c77] .inpbx input {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0 14px;
    font-size: 15px;
    color: #1a1a1a;
    vertical-align: top;
    border: 0;
    background: transparent;
    outline: none;
    box-sizing: border-box;
}

@media screen and (max-width: 540px) {
    .tb_lst[_ngcontent-ctd-c149] .cnt_row[_ngcontent-ctd-c149] {
        padding: 6px 20px 20px;
        border-bottom: 1px solid #e4e4e4;
    }
}

.tb_lst[_ngcontent-ctd-c149] .cnt_row[_ngcontent-ctd-c149] {
    position: relative;
}

@media screen and (max-width: 540px) {
    .tb_lst[_ngcontent-ctd-c149] .inptxtbx[_ngcontent-ctd-c149] {
        padding: 0;
    }
}

.tb_lst[_ngcontent-ctd-c149] .inptxtbx[_ngcontent-ctd-c149] {
    padding-right: 12px;
}

.tb_lst[_ngcontent-ctd-c149] .inptxtbx[_ngcontent-ctd-c149] textarea[_ngcontent-ctd-c149] {
    padding: 18px;
    font-size: 14px;
    font-weight: 400;
    resize: none;
}

.tb_lst[_ngcontent-ctd-c149] .inpbx[_ngcontent-ctd-c149] input[_ngcontent-ctd-c149], .tb_lst[_ngcontent-ctd-c149] .inptxtbx[_ngcontent-ctd-c149] textarea[_ngcontent-ctd-c149] {
    padding: 0 18px;
    font-size: 14px;
    font-weight: 600;
    color: #303033;
    line-height: 20px;
}

[_nghost-ctd-c77] .inptxtbx textarea {
    display: block;
    overflow: auto;
    width: 100%;
    padding: 14px;
    border: 1px solid #ccc;
    background: transparent;
    font-size: 15px;
    line-height: 20px;
    color: #1a1a1a;
    vertical-align: top;
    outline: none;
    box-sizing: border-box;
}

[_nghost-ctd-c77] textarea {
    resize: none;
}

@media screen and (max-width: 540px) {
    .tb_lst[_ngcontent-ctd-c149] .cnt_row[_ngcontent-ctd-c149] .ckemail[_ngcontent-ctd-c149] {
        margin-top: 10px;
    }
}

[_nghost-ctd-c82] {
    display: inline-block;
    overflow: hidden;
    position: relative;
    vertical-align: top;
    line-height: 20px;
    font-size: 12px;
}

[_nghost-ctd-c82] input[_ngcontent-ctd-c82] {
    overflow: hidden;
    position: absolute;
    top: 2px;
    left: 2px;
    z-index: -1;
    width: 1px;
    height: 1px;
    border: 0;
    background: transparent;
    visibility: hidden;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

[_nghost-ctd-c82] label[_ngcontent-ctd-c82] {
    display: inline-block;
    position: relative;
    z-index: 10;
    color: #303033;
    box-sizing: border-box;
    cursor: pointer;
    vertical-align: top;
    padding-left: 29px;
}

[_nghost-ctd-c82] label[_ngcontent-ctd-c82]:before {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    text-align: center;
    box-sizing: border-box;
    content: "";
    width: 20px;
    height: 20px;
    transition: background-color .2s;
}

[_nghost-ctd-c82] label[_ngcontent-ctd-c82]:after {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-width: 0 1px 1px 0;
    transform: rotate(45deg);
    content: "";
    top: 3px;
    left: 7px;
    width: 5px;
    height: 10px;
}

@media screen and (max-width: 540px) {
    .add_img[_ngcontent-ctd-c149] {
        border: 0;
    }
}

@media screen and (max-width: 540px) {
    .tb_lst[_ngcontent-ctd-c149] > li[_ngcontent-ctd-c149]:last-child {
        border: 0;
    }
}

@media screen and (max-width: 540px) {
    .add_img[_ngcontent-ctd-c149] .type[_ngcontent-ctd-c149] {
        display: none;
    }
}

@media screen and (max-width: 540px) {
    .tb_lst[_ngcontent-ctd-c149] .type[_ngcontent-ctd-c149] {
        margin-bottom: 10px;
        font-size: 16px;
        line-height: 25px;
    }
}

.add_img[_ngcontent-ctd-c149] .info_lst[_ngcontent-ctd-c149] {
    margin-top: 16px;
}

@media screen and (max-width: 540px) {
    .add_img[_ngcontent-ctd-c149] .info_lst[_ngcontent-ctd-c149] li[_ngcontent-ctd-c149] {
        padding-left: 10px;
        line-height: 22px;
    }
}

.add_img[_ngcontent-ctd-c149] .info_lst[_ngcontent-ctd-c149] li[_ngcontent-ctd-c149] {
    position: relative;
    padding-left: 14px;
    font-size: 12px;
    color: #a0a0a0;
    line-height: 24px;
}

.add_img[_ngcontent-ctd-c149] .info_lst[_ngcontent-ctd-c149] li[_ngcontent-ctd-c149]:before {
    position: absolute;
    top: 9px;
    left: 0;
    width: 3px;
    height: 3px;
    border-radius: 100%;
    background: #a0a0a0;
    content: "";
}

.add_img[_ngcontent-ctd-c149] .info_lst[_ngcontent-ctd-c149] .point[_ngcontent-ctd-c149] {
    color: #ff4800;
}

.add_img[_ngcontent-ctd-c149] .info_lst[_ngcontent-ctd-c149] .point[_ngcontent-ctd-c149]:before {
    background: #ff4800;
}

.my_inq[_ngcontent-ctd-c149] .btn_bx[_ngcontent-ctd-c149] {
    margin: 10px 0 -20px;
    text-align: center;
}

@media screen and (max-width: 540px) {
    .my_inq[_ngcontent-ctd-c149] .btn_bx[_ngcontent-ctd-c149] button[_ngcontent-ctd-c149] {
        width: 100%;
        height: 56px;
        margin: 0 auto;
        padding: 0;
        font-size: 16px;
    }
}

.btn_bx[_ngcontent-ctd-c149] .btn_black[_ngcontent-ctd-c149] {
    width: 100px;
    height: 40px;
}

[_nghost-ctd-c77] .btn_black {
    display: inline-block;
    min-width: 82px;
    padding: 0 17px;
    border: 1px solid #303033;
    background: #303033;
    font-size: 13px;
    color: #fff;
    line-height: 38px;
    box-sizing: border-box;
}

[_nghost-ctd-c77] a, [_nghost-ctd-c77] button {
    outline: none;
}
button {
    border: 0;
    background: transparent;
    cursor: pointer;
}
a, button {
    outline: none;
}

[_nghost-ctd-c77] ruler-message-dialog {
    word-break: keep-all;
    text-align: center;
    line-height: 1.2;
}

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
    display: block;
}

@media screen and (max-width: 540px) {
    .header_active[_nghost-ctd-c77] .mypage[_ngcontent-ctd-c77], .header_active [_nghost-ctd-c77] .mypage[_ngcontent-ctd-c77] {
        padding-top: 50px;
    }
}

@media screen and (max-width: 1230px) {
    .header_active[_nghost-ctd-c77] .mypage[_ngcontent-ctd-c77], .header_active [_nghost-ctd-c77] .mypage[_ngcontent-ctd-c77] {
        padding-top: 170px;
    }
}

@media screen and (max-width: 540px) {
    .mypage[_ngcontent-ctd-c77] {
        padding: 50px 0 0;
    }
}

@media screen and (max-width: 1230px) {
    .mypage[_ngcontent-ctd-c77] {
        padding-top: 200px;
    }
}

.global_wrap[_ngcontent-ctd-c77] {
    -webkit-transition: padding-top .25s ease-out;
    transition: padding-top .25s ease-out;
}

.css-tmdn83 {
	display: inline-block;
	font-family: var(--ruler-semantic-typography-title-m-medium-font-family);
	font-weight: var(--ruler-semantic-typography-title-m-medium-font-weight);
	line-height: var(--ruler-semantic-typography-title-m-medium-line-height);
	font-size: var(--ruler-semantic-typography-title-m-medium-font-size);
	color: var(--ruler-semantic-color-text-primary);
}

.css-1heuese {
	display: flex;
	border-bottom: 4px solid rgb(0, 0, 0);
	margin-top: 40px;
}

.css-19yreqa {
	cursor: pointer;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	height: 49px;
	font-size: 14px;
	color: rgb(255, 255, 255);
	background-color: rgb(0, 0, 0);
	width: auto;
	padding: 0px 30px;
	border: none;
}

.css-140aynn {
	cursor: pointer;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	height: 49px;
	font-size: 14px;
	color: rgb(160, 160, 160);
	background-color: rgb(255, 255, 255);
	width: auto;
	padding: 0px 30px;
	border: none;
}

.css-tr1wkt {
	width: 100%;
}

.css-1lads1q {
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	width: 100%;
}

.css-1ofqig9 {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	width: 100%;
}

.css-f9qh2y {
	display: flex;
	flex-direction: row;
	min-height: 50px;
	border-bottom: 1px solid rgb(212, 212, 212);
}

.css-f9qh2y:first-of-type {
	border-bottom: 1px solid var(--ruler-scale-color-gray-950);
}

.css-r9nzd6 {
	display: flex;
	flex: 1 1 0px;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	min-height: 50px;
}

.css-17x39sj {
	display: inline-block;
	font-family: var(--ruler-semantic-typography-text-l-font-family);
	font-weight: var(--ruler-semantic-typography-text-l-font-weight);
	line-height: var(--ruler-semantic-typography-text-l-line-height);
	font-size: var(--ruler-semantic-typography-text-l-font-size);
	color: var(--ruler-semantic-color-text-secondary);
}

.css-1o3oomb {
	margin-top: 60px;
}



.css-19djemi {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	width: 100%;
	margin-top: 30px;
	border-top: 4px solid var(--ruler-scale-color-gray-950);
}

.css-1vqrq36 {
	display: inline-block;
	font-family: var(--ruler-semantic-typography-text-xxl-bold-font-family);
	font-weight: var(--ruler-semantic-typography-text-xxl-bold-font-weight);
	line-height: var(--ruler-semantic-typography-text-xxl-bold-line-height);
	font-size: var(--ruler-semantic-typography-text-xxl-bold-font-size);
	color: var(--ruler-semantic-color-text-primary);
}

.css-zp7ii8 {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	min-height: 50px;
	border-bottom: 1px solid #d4d4d4;
}

.css-n0ir3y:first-of-type {
    -webkit-flex: 0 0 100px;
    -ms-flex: 0 0 100px;
    flex: 0 0 100px;
}

.css-n0ir3y {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex: 1 1 0;
    -ms-flex: 1 1 0;
    flex: 1 1 0;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    min-height: 50px;
    -webkit-flex: 1 1 0;
    -ms-flex: 1 1 0;
    flex: 1 1 0;
    padding: 15px 1%;
}

.css-ery12n {
    display: inline-block;
    font-family: var(--ruler-semantic-typography-text-xxl-bold-font-family);
    font-weight: var(--ruler-semantic-typography-text-xxl-bold-font-weight);
    line-height: var(--ruler-semantic-typography-text-xxl-bold-line-height);
    font-size: var(--ruler-semantic-typography-text-xxl-bold-font-size);
    color: var(--ruler-semantic-color-text-primary);
    text-align: center;
    white-space: pre;
}

.css-8xai2a {
    display: inline-block;
    font-family: var(--ruler-semantic-typography-text-l-font-family);
    font-weight: var(--ruler-semantic-typography-text-l-font-weight);
    line-height: var(--ruler-semantic-typography-text-l-line-height);
    font-size: var(--ruler-semantic-typography-text-l-font-size);
    color: var(--ruler-semantic-color-text-secondary);
    text-align: center;
    white-space: nowrap;
    padding-top: 7px;
    padding-bottom: 6px;
}

.css-izpnhq {
    display: inline-block;
    font-family: var(--ruler-semantic-typography-text-l-bold-font-family);
    font-weight: var(--ruler-semantic-typography-text-l-bold-font-weight);
    line-height: var(--ruler-semantic-typography-text-l-bold-line-height);
    font-size: var(--ruler-semantic-typography-text-l-bold-font-size);
    color: var(--ruler-semantic-color-text-primary);
}

.css-19ft22s {
	margin-top: 60px;
}

.css-192or3:first-of-type {
	margin-top: 0;
}

.css-192or3 {
	display: inline-block;
	font-family: var(--ruler-semantic-typography-text-xxl-bold-font-family);
	font-weight: var(--ruler-semantic-typography-text-xxl-bold-font-weight);
	line-height: var(--ruler-semantic-typography-text-xxl-bold-line-height);
	font-size: var(--ruler-semantic-typography-text-xxl-bold-font-size);
	color: var(--ruler-semantic-color-text-primary);
	margin-top: 60px;
}

.css-1hw29i9 {
	margin-top: 12px;
}

.css-vuajq3 {
	display: inline-block;
	font-family: var(--ruler-semantic-typography-text-xxl-bold-font-family);
	font-weight: var(--ruler-semantic-typography-text-xxl-bold-font-weight);
	line-height: var(--ruler-semantic-typography-text-xxl-bold-line-height);
	font-size: var(--ruler-semantic-typography-text-xxl-bold-font-size);
	color: var(--ruler-semantic-color-text-secondary);
	margin-top: 60px;
}

.css-130oa9n {
	display: inline-block;
	font-family: var(--ruler-semantic-typography-text-l-font-family);
	font-weight: var(--ruler-semantic-typography-text-l-font-weight);
	line-height: var(--ruler-semantic-typography-text-l-line-height);
	font-size: var(--ruler-semantic-typography-text-l-font-size);
	color: var(--ruler-semantic-color-text-secondary);
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding-left: 10px;
	line-height: 32px;
	word-break: keep-all;
}

.css-130oa9n::before {
	content: '';
	position: absolute;
	top: 14px;
	left: 0;
	display: inline-block;
	width: 4px;
	height: 4px;
	background-color: var(--ruler-scale-color-gray-950);
	border-radius: 100%;
}

.my_inquire {
    position: relative;
}

.my_tit {
    position: relative;
    padding-bottom: 10px;
    border-bottom: 4px solid #000;
    font-size: 22px;
    color: #000;
    line-height: 30px;
    font-weight: 500;
}

.m_view {
    display: none;
}

.cs_description_container {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    gap: 6px;
}

.cs_description_container {
    padding-top: 12px;
    font-family: Pretendard;
}

.my_inquire .cs_description {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 19.6px;
}

.pc_view {
    display: block;
}

.write_btnbx {
    text-align: right;
    display: -webkit-box;
    display: flex;
    gap: 4px;
    -webkit-box-pack: end;
    justify-content: end;
}

.btn_bor {
    display: inline-block;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    font-size: 12px;
    color: #5d5d5d;
    line-height: 30px;
    text-align: center;
    box-sizing: border-box;
}

a, button {
    outline: none;
}

.btn_black {
    display: inline-block;
    min-width: 82px;
    padding: 0 17px;
    border: 1px solid #303033;
    background: #303033;
    font-size: 13px;
    color: #fff;
    line-height: 38px;
    box-sizing: border-box;
}

.my_tbl_inquire .my_tbl_tit {
    margin-top: 10px;
    border-top: 4px solid #000;
}

.my_tbl_lst .my_tbl, .my_tbl_lst>li {
    border-bottom: 1px solid #d4d4d4;
}

.my_tbl_tit {
    border-bottom: 1px solid #000;
    font-weight: 700;
}

.my_tbl_info {
    display: table;
    table-layout: fixed;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    color: #303033;
}

.my_tbl_lst .my_tbl_tit .type, .my_tbl_lst .my_tbl_tit .type .tit {
    text-align: center;
}

.my_tbl_info p {
    display: table-cell;
    min-height: 50px;
    text-align: center;
    vertical-align: middle;
    font-size: 14px;
    box-sizing: border-box;
}



p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

.my_tbl_inquire .type {
    width: 100px;
    color: #000;
}

.my_tbl_inquire .tit {
    padding: 15px 3%;
    color: #000;
    text-align: left;
}

.my_tbl_inquire .date {
    width: 100px;
    padding: 15px 0;
    color: #000;
}

.my_tbl_inquire .state {
    width: 70px;
    padding: 15px 0;
    color: #000;
    font-weight: 700;
}

.my_tbl_inquire .tblbtn {
    width: 60px;
    padding: 0;
    text-align: center;
}

.blind, legend {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 1px;
    font-size: 1px;
    line-height: 100px;
    white-space: nowrap;
}

.my_list_none {
    height: 65px;
    font-size: 14px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #d4d4d4;
}

.my_list_none, .order_list_none {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

